.homeMain{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
    font-family: inherit;
    
}

.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.cardHead{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.filter-options {
    position: absolute;
    top: 40px; /* Adjust this value to position the options below the icon */
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 8px;
    /* Add additional styles for the options container */
  }

  body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modals, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    /* border-radius: 1em; */
    /* box-shadow: 0 0.188em 1.550em rgb(49, 61, 61); */
    
    /* border: 1px solid #ccc; */
    border: 1px solid #141414;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-top: 170vh;
    
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modals-content {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #efe8e8;
    /* background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%); */
    padding: 14px 28px;
    border-radius: 3px;
    /* max-width: 600px; */

    min-width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.close-modals {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.red-border{
    border: 2px solid red;
}