.homeMain{
    background-image: url('../asset/4661497_2447626-01.jpg');
    background-position: center center;
    height: 100vh;
    justify-content: space-around;
    /* background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%); */
    font-family: inherit;
}

.mains{
    /* display: flex; */
    justify-content: center;
    padding-top: 90px;
}

.cardHead{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}